.header{
    display:flex;
    width:100%;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}

.footer{
    display:flex;
    width:99%;
    border: 1px solid black;
    position:fixed;
    bottom:10px;
    align-items: center;
    justify-content: center;
}

